*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 0.8333333333333334vw;
}

html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
  font-size: 0.8333333333333334vw;
}

/*//////////////////////////////////slides/////////////////////////////////////*/
.slide {
  width: 100%;
  height: 100%;
}

.particles {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 15%;
  background: #f0f0f0;
}

/*////////////////////////Home//////////////////////*/

.home {
  display: flex;
}

.lottie {
  position: relative;
  width: 51%;
  left: 10%;
  bottom: 0;
}

/*////////////////////////Navigation Bar///////////////////////////////////*/

.nav_items {
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
  list-style: none;
}


.link2 {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.125rem;
  color: #24262b;
}

.link2:hover {
  cursor: pointer;
}

.menu_name{
  justify-content: center;
}

.cd-header {
  position: absolute;
  right: 2%;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-wrapper {
  position: relative;
  width: calc(100% - 6.25rem);
}

.nav-but-wrap {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-left: 1rem;
  padding-top: 0.5rem;
  margin-top: 0;
  transition: all 0.3s ease-out;
}

.nav {
  position: fixed;
  z-index: 98;
}

.nav:before,
.nav:after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(20, 21, 26, 0.6);
  border-bottom-left-radius: 200%;
  margin-top: -4.5rem;
  z-index: -1;
  -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s,
    border-radius linear 0.8s;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s,
    border-radius linear 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s,
    border-radius linear 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s,
    -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s,
    border-radius linear 0.8s;
  -webkit-transform: translateX(100%) translateY(-100%);
  transform: translateX(100%) translateY(-100%);
}

.nav:after {
  background: rgba(9, 9, 12, 1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.nav:before {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.nav__content {
  position: fixed;
  visibility: hidden;
  top: 50%;
  margin-top: 1.25rem;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
}

.nav__list {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 2;
}

.nav__list-item {
  position: relative;
  display: block;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
  opacity: 0;
  text-align: center;
  color: #fff;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 4.56rem;
  font-weight: 900;
  line-height: 1.15;
  letter-spacing: 0.188rem;
  -webkit-transform: translate(6.25rem, 0%);
  transform: translate(6.25rem, 0%);
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.2s ease, transform 0.3s ease;
  transition: opacity 0.2s ease, transform 0.3s ease,
    -webkit-transform 0.3s ease;
  margin-top: 0;
  margin-bottom: 0;
}

.nav__list-item a {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  cursor: pointer;
  padding-left: 0.313rem;
  padding-right: 0.313rem;
  font-weight: 900;
  z-index: 2;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.nav__list-item a:after {
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -0.125rem;
  left: 50%;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: #8167a9;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.nav__list-item a:hover:after {
  height: 0.25rem;
  opacity: 1;
  left: 0;
  width: 100%;
}

.nav__list-item a:hover {
  color: rgba(255, 255, 255, 1);
}

.nav__list-item.active-nav a {
  color: rgba(255, 255, 255, 1);
}

.nav__list-item.active-nav a:after {
  height: 0.25rem;
  opacity: 1;
  left: 0;
  width: 100%;
}

body.nav-active .nav__content {
  visibility: visible;
}

body.nav-active .menu-icon__line {
  background-color: #fff;
  -webkit-transform: translate(0rem, 0rem) rotate(-45deg);
  transform: translate(0rem, 0rem) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
  width: 0.938rem;
  -webkit-transform: translate(0.125rem, 0.25rem) rotate(45deg);
  transform: translate(0.125rem, 0.25rem) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
  width: 0.938rem;
  float: right;
  -webkit-transform: translate(-0.188rem, -0.219rem) rotate(45deg);
  transform: translate(-0.188rem, -0.219rem) rotate(45deg);
}

body.nav-active .menu-icon:hover .menu-icon__line-left,
body.nav-active .menu-icon:hover .menu-icon__line-right {
  width: 0.938rem;
}

body.nav-active .nav {
  visibility: visible;
}

body.nav-active .nav:before,
body.nav-active .nav:after {
  -webkit-transform: translateX(0%) translateY(0%);
  transform: translateX(0%) translateY(0%);
  border-radius: 0;
}

body.nav-active .nav:after {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

body.nav-active .nav:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

body.nav-active .nav__list-item {
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: opacity 0.3s ease, color 0.3s ease,
    -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease,
    -webkit-transform 0.3s ease;
}

body.nav-active .nav__list-item:nth-child(0) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

body.nav-active .nav__list-item:nth-child(1) {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

body.nav-active .nav__list-item:nth-child(2) {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

body.nav-active .nav__list-item:nth-child(3) {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

body.nav-active .nav__list-item:nth-child(4) {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}

body.nav-active .nav__list-item:nth-child(5) {
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

body.nav-active .nav__list-item:nth-child(6) {
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
}

body.nav-active .nav__list-item:nth-child(7) {
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
}

body.nav-active .nav__list-item:nth-child(8) {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}

body.nav-active .nav__list-item:nth-child(9) {
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}

body.nav-active .nav__list-item:nth-child(10) {
  -webkit-transition-delay: 1.7s;
  transition-delay: 1.7s;
}

body.nav-active .link2 {
  visibility: hidden;
  transition-delay: 0.5s;
}

body.nav-active .atom {
  background: #f0f0f0;
}

body.nav-active .ham:hover .atom {
  border: 0.125rem solid #f0f0f0;
}

/*//////////////////////////////////nav Atom effect///////////////////////////////*/
.ham {
  width: 1.875rem;
  height: 1.875rem;
  position: absolute;
  top: 50%;
  padding-top: 4rem;
  transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
  cursor: pointer;
  background: transparent;
  border: 0rem;
  z-index: 100;
}

.atom {
  height: 0;
  border: 0.094rem solid #24262b;
  width: 1.375rem;
  display: block;
  position: absolute;
  transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
  background: #24262b;
}

.ham:hover {
  transition-delay: 100ms;
  transform: scale(1.1);
}

.ham:hover .atom:nth-child(3):before {
  width: 0.125rem;
  height: 0.125rem;
  border-radius: 50%;
  background: #f26451;
}

.ham:hover .atom {
  border: 0.125rem solid #24262b;
  height: 0.563rem;
  border-radius: 50%;
  margin-left: -0.063rem;
  margin-top: 0.125rem;
  animation: atom 300ms linear 1;
  width: 1.563rem;
  top: 0rem;
  background: transparent;
}

.ham:focus {
  outline: 0rem;
}

.atom:nth-child(1) {
  top: 0rem;
}

.atom:nth-child(2) {
  top: 0.5rem;
}

.atom:nth-child(3) {
  top: 1rem;
}

.atom:nth-child(3):before {
  opacity: 0;
  animation: ball 1.5s linear infinite;
  content: "";
  border: 0.125rem solid #fff;
  display: block;
  position: relative;
  top: 0.016rem;
}

.ham:hover .atom:nth-child(1) {
  transform: rotate(-33deg);
}

.ham:hover .atom:nth-child(2) {
  transform: rotate(90deg);
}

.ham:hover .atom:nth-child(3) {
  transform: rotate(33deg);
}

.ham:hover .atom:nth-child(3):before {
  opacity: 1;
  transition: opacity 600ms cubic-bezier(0.61, 0.01, 0.42, 1);
}

.ham:active:hover .atom:nth-child(3):before,
.ham:active .atom:nth-child(3):before,
.ham:active .atom:nth-child(2) {
  opacity: 0;
  transition: all 200ms;
}

.ham:active .atom {
  border: 0.094rem solid #fff;
  height: 0rem;
  border-radius: 0%;
  margin-left: -0.063rem;
  margin-top: 0.375rem;
  animation: division 300ms linear 1;
  width: 1.563rem;
  top: 0rem;
}

.ham:active .atom:nth-child(2) {
  width: 0rem;
}

.ham:active .atom:nth-child(3) {
  transform: rotate(45deg);
}

.ham:active .atom:nth-child(1) {
  transform: rotate(-45deg);
}

@keyframes atom {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes division {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes ball {
  0% {
    left: -20%;
    top: 10%;
  }
  10% {
    left: 10%;
    top: -35%;
  }
  25% {
    left: 45%;
    top: -50%;
  }
  40% {
    left: 80%;
    top: -20%;
  }
  50% {
    left: 98%;
    top: 18%;
  }
  60% {
    left: 80%;
    top: 50%;
  }
  75% {
    left: 45%;
    top: 80%;
  }
  90% {
    left: 0%;
    top: 60%;
  }
  100% {
    left: -20%;
    top: 10%;
  }
}


/*//////////////////////////////////glitch effect/////////////////////////////////*/
/*.glitch {
  font-size: 8.4rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 500ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.008em, -0.0125em);
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.008em);
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}*/

/*///////////////////////////////////////cursor//////////////////////////////////////////*/

.cursor {
  z-index: 999;
  background-color: #ffffff;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

.grow-horizontal-scroll {
  width: 5rem;
  height: 5rem;
  background: #000;
  border: 0.063rem solid #000;
  transition: width 0.3s, height 0.3s;
  mix-blend-mode: normal;
}

.cursor-text {
  visibility: hidden;
}

.grow-horizontal-scroll .cursor-text {
  color: #f0f0f0;
  text-align: center;
  visibility: visible;
  padding-top: 1.5rem;
  font-size: 1.2rem;
}

.cursor_testimonial {
  width: 5rem;
  height: 5rem;
  background: #f0f0f0;
  transition: width 0.3s, height 0.3s;
  mix-blend-mode: normal;
}

.cursor_testimonial .cursor_testimonial_text {
  color: #24262b;
  text-align: center;
  visibility: visible;
  padding-top: 1.5rem;
  font-size: 1.2rem;
  padding-left: 1%;
  font-weight: 600;
  transition-delay: 0.3s;
}

.cursor_testimonial_text {
  visibility: hidden;
}

.grow {
  width: 3.75rem;
  height: 3.75rem;
  background: transparent;
  border: 0.063rem solid white;
  box-shadow: none;
  transition: width 0.3s, height 0.3s;
  mix-blend-mode: difference;
}

/*/////////////////////////////////text css////////////////////////////////////////////*/

#sequence {
  color: #24262b;
  font-size: 2.16rem;
  font-weight: 700;
}

.sequence {
  color: #f0f0f0;
  font-size: 2.16rem;
  font-weight: 700;
  padding-top: 1rem;
}

.cart {
  color: #24262b;
  background-color: #ffbc01;
  font-size: 3rem;
  font-weight: 800;
  text-align: left;
}

.glitch-text {
  position: relative;
  left: 5%;
  padding-top: 20rem;
  bottom: 35%;
}

.h4_heading {
  text-align: center;
  font-weight: 500;
  padding-top: 7rem;
  font-size: rem;
}

.Ankush {
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 2.5rem;
}

.Director {
  text-align: center;
  color: #989898;
  padding-top: 0.3rem;
  font-size: 0.9rem;
}

.sub-title {
  font-size: 3.6rem;
  color: #24262b;
}

/*//////////////////////////logo///////////////////////////////////*/
.DesignCart_logo {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: x-large;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.logo {
  height: 4rem;
  position: absolute;
  left: 1%;
  top: 20%;
  mix-blend-mode: difference;
  z-index: 9999999;
}
/*///////////////////////////////// mouse scroll animation icon /////////////////////////////////////*/

.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 1.5rem;
  position: absolute;
  height: 6.25rem;
  margin-top: 7.813rem;
  bottom: 1.25rem;
  right: 50%;
  left: 50%;
}

.m_scroll_arrows {
  display: block;
  width: 0.313rem;
  height: 0.313rem;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 0.125rem solid white;
  border-bottom: 0.125rem solid white;
  margin: 0 0 0.188rem 0.25rem;
  width: 1rem;
  height: 1rem;
}

.unu {
  margin-top: 0.063rem;
}

.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.2s;
  animation-direction: alternate;

  margin-top: -0.375rem;
}

.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.3s;
  animation-direction: alternate;

  margin-top: -0.375rem;
}

.mouse {
  height: 2.625rem;
  width: 1.5rem;
  border-radius: 0.875rem;
  transform: none;
  border: 0.125rem solid white;
  top: 10.625rem;
}

.wheel {
  height: 0.313rem;
  width: 0.125rem;
  display: block;
  margin: 0.313rem auto;
  background: white;
  position: relative;

  height: 0.25rem;
  width: 0.25rem;
  border: 0.125rem solid #fff;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0.375rem);
    -ms-transform: translateY(0.375rem);
    transform: translateY(0.375rem);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 0.063rem;
  }
  25% {
    top: 0.125rem;
  }
  50% {
    top: 0.188rem;
  }
  75% {
    top: 0.125rem;
  }
  100% {
    top: 0.063rem;
  }
}
@-o-keyframes mouse-wheel {
  0% {
    top: 0.063rem;
  }
  25% {
    top: 0.125rem;
  }
  50% {
    top: 0.188rem;
  }
  75% {
    top: 0.125rem;
  }
  100% {
    top: 0.063rem;
  }
}
@keyframes mouse-wheel {
  0% {
    top: 0.063rem;
  }
  25% {
    top: 0.125rem;
  }
  50% {
    top: 0.188rem;
  }
  75% {
    top: 0.125rem;
  }
  100% {
    top: 0.063rem;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*//////////////////////////////// text effect ////////////////////////////////*/
#word {
  margin: auto;
  text-decoration: underline;
}

.text-change {
  font-size: 3rem;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  padding: 3rem 25% 0;
  line-height: 4rem;
}

/*//////////////////////////////horizontal scroll gallary////////////////////*/
.grid-item {
  padding: 4rem 0;
}

.gallary {
  cursor: none;
}

.lottie1 {
  background-color: #ffbc01;
}

.inner-img1 {
  cursor: default;
}

.item1,
.item7 {
  visibility: hidden;
}

.inner-img {
  transition: 0.3s;
  height: 32.25rem;
  width: 38.75rem;
  cursor: none;
}

.inner-img:hover {
  transform: scale(1.1);
}

.items {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  will-change: transform;
  user-select: none;
}

.items.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.item {
  display: inline-block;
  background: transparent;
  height: 32.25rem;
  width: 38.75rem;
  border-radius: 2%;
  overflow: hidden;
  margin: 2em 1em;
  -webkit-box-shadow: 0.625rem 0.625rem 0.938rem 0.313rem rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0.625rem 0.625rem 0.938rem 0.313rem rgba(0, 0, 0, 0.15);
  box-shadow: 0.625rem 0.625rem 0.938rem 0.313rem rgba(0, 0, 0, 0.15);
}

/*/////////////////////////////Responsive//////////////*/
@media screen and (max-width: 119rem) {
  .mouse_scroll {
    display: none;
  }
}

@media screen and (max-width: 64rem) {
  .cursor {
    display: none;
  }
}

/*////////////////////third low mask////////////////////////*/
.grid_mask figure {
  position: relative;
  float: left;
  transition: 0.3s;
}

.grid_mask figure .figcaption_mask,
.grid_mask figure .figcaption_mask > a {
  position: absolute;
  font-size: 1.5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure.figure_mask .text_mask {
  display: inline-block;
  position: absolute;
  left: 5%;
  bottom: 16%;
  margin: 0 0 0.25rem;
  padding: 0.4rem 1rem;
  color: #f0f0f0;
  background: #24262b;
  text-transform: none;
  font-weight: 500;
  font-size: 1.5rem;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-22.5rem, 0, 0);
  transform: translate3d(-22.5rem, 0, 0);
}

figure.figure_mask .text2 {
  display: inline-block;
  position: absolute;
  left: 5%;
  bottom: 8%;
  margin: 0 0 0.25rem;
  padding: 0.4rem 1rem;
  color: #f0f0f0;
  background: #24262b;
  text-transform: none;
  font-weight: 500;
  font-size: 1rem;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-22.5rem, 0, 0);
  transform: translate3d(-22.5rem, 0, 0);
}

figure.figure_mask .text_mask:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.figure_mask .text_mask:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.figure_mask .text_mask:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.figure_mask:hover .text_mask:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

figure.figure_mask:hover .text_mask:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.figure_mask:hover .text_mask:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.figure_mask:hover .text_mask {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*///////////////////////DesignCart_Heading/////////////////////////*/
#DesignCart_Heading {
  font-weight: 700;
  animation: colorFill 1.5s ease forwards 4s;
}

#DesignCart_Heading path:nth-child(1) {
  stroke-dasharray: 50rem;
  stroke-dashoffset: 50rem;
  animation: animateText 2s ease forwards 2.3s;
}

#DesignCart_Heading path:nth-child(2) {
  stroke-dasharray: 55.313rem;
  stroke-dashoffset: 55.313rem;
  animation: animateText 2s ease forwards 0.5s;
}

#DesignCart_Heading path:nth-child(3) {
  stroke-dasharray: 58.063rem;
  stroke-dashoffset: 58.063rem;
  animation: animateText 2s ease forwards 0.7s;
}

#DesignCart_Heading path:nth-child(4) {
  stroke-dasharray: 28.063rem;
  stroke-dashoffset: 28.063rem;
  animation: animateText 2s ease forwards 0.9s;
}

#DesignCart_Heading path:nth-child(5) {
  stroke-dasharray: 50rem;
  stroke-dashoffset: 50rem;
  animation: animateText 2s ease forwards 1.3s;
}

#DesignCart_Heading path:nth-child(6) {
  stroke-dasharray: 37.813rem;
  stroke-dashoffset: 37.813rem;
  animation: animateText 2s ease forwards 1.5s;
}

#DesignCart_Heading path:nth-child(7) {
  stroke-dasharray: 30.875rem;
  stroke-dashoffset: 30.875rem;
  animation: animateText 2s ease forwards 1.8s;
}

#DesignCart_Heading path:nth-child(8) {
  stroke-dasharray: 37.813rem;
  stroke-dashoffset: 37.813rem;
  animation: animateText 2s ease forwards 2s;
}

#DesignCart_Heading path:nth-child(9) {
  stroke-dasharray: 50rem;
  stroke-dashoffset: 50rem;
  animation: animateText 2s ease forwards 2.3s;
}

#DesignCart_Heading path:nth-child(10) {
  stroke-dasharray: 30.875rem;
  stroke-dashoffset: 30.875rem;
  animation: animateText 2s ease forwards 2.5s;
}

#DesignCart_Heading path:nth-child(11) {
  stroke-dasharray: 37.5rem;
  stroke-dashoffset: 37.5rem;
  animation: animateText 2s ease forwards 2.7s;
}

@keyframes animateText {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes colorFill {
  from {
    fill: transparent;
  }
  to {
    fill: #f0f0f0;
  }
}

/*///////////////////////////////slide 4/////////////////*/
.slide4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
}

.card {
  position: relative;
  width: 37.5rem;
  height: 21.875rem;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.card .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffbc01;
  clip-path: circle(7.5rem at center);
  transition: 0.5s;
}

.card:hover .circle:before {
  background: #92E3A9;
  clip-path: circle(25rem at center);
  width: 100%;
}

.card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 0.5s;
}

.card .content {
  position: relative;
  width: 48%;
  left: 20%;
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.card:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.card .content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 0.313rem;
}

.card .content p {
  color: #fff;
}

.card .content a {
  position: relative;
  color: #fff;
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  background: #fff;
  color: #111;
  margin-top: 0.625rem;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}

@media (max-width: 61.938rem) {
  .card {
    width: auto;
    max-width: 21.875rem;
    margin: 0.625rem;
  }

  .card:hover {
    height: 37.5rem;
  }

  .card .content {
    width: 100%;
    left: 0;
    padding: 1.875rem;
  }

  .card:hover img {
    top: 70%;
    left: 50%;
    height: 18.75rem;
  }
}

@media (max-width: 26.25rem) {
  .card .content {
    padding: 1.875rem;
  }
}

.card1 img {
  height: 20rem;
}

.card1:hover img {
  left: 72%;
}

.card2 img {
  height: 15rem;
}

.card2:hover img {
  left: 80%;
}

.card3 img {
  height: 18rem;
}

.card3:hover img {
  left: 75%;
}

/*//////////////////////////////////////testimonials///////////////////////////*/
.star {
  display: flex;
  flex-direction: row;
  padding: 4rem 28rem;
}
.star:before,
.star:after {
  content: "";
  flex: 1 1;
  border-bottom: 0.065rem solid;
  margin: auto;
}
.star:before {
  margin-right: 3rem;
}
.star:after {
  margin-left: 3rem;
}

.testimonial_heading_main,
.services_heading {
  text-align: center;
  font-size: 3rem;
  color: grey;
}

[type="radio"] {
  display: none;
}

#testimonial_slider {
  height: 45rem;
  width: 150rem;
  position: relative;
  left: -12%;
  padding: 5rem 0;
  perspective: 100rem;
  transform-style: preserve-3d;
}

#testimonial_slider label {
  margin: auto;
  width: 30%;
  height: 80%;
  position: absolute;
  border-radius: 4%;
  left: 0;
  right: 0;
  cursor: none;
  transition: transform 0.4s ease;
}

#s1:checked ~ #testimonial_slider4,
#s2:checked ~ #testimonial_slider5,
#s3:checked ~ #testimonial_slider1,
#s4:checked ~ #testimonial_slider2,
#s5:checked ~ #testimonial_slider3 {
  box-shadow: 0 0.063rem 0.25rem 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-30%, 0, -12.5rem);
}

#s1:checked ~ #testimonial_slider5,
#s2:checked ~ #testimonial_slider1,
#s3:checked ~ #testimonial_slider2,
#s4:checked ~ #testimonial_slider3,
#s5:checked ~ #testimonial_slider4 {
  box-shadow: 0 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.3),
    0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-15%, 0, -6.25rem);
}

#s1:checked ~ #testimonial_slider1,
#s2:checked ~ #testimonial_slider2,
#s3:checked ~ #testimonial_slider3,
#s4:checked ~ #testimonial_slider4,
#s5:checked ~ #testimonial_slider5 {
  box-shadow: 0 0.813rem 1.563rem 0 rgba(0, 0, 0, 0.3),
    0 0.688rem 0.438rem 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #testimonial_slider2,
#s2:checked ~ #testimonial_slider3,
#s3:checked ~ #testimonial_slider4,
#s4:checked ~ #testimonial_slider5,
#s5:checked ~ #testimonial_slider1 {
  box-shadow: 0 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.3),
    0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(15%, 0, -6.25rem);
}

#s1:checked ~ #testimonial_slider3,
#s2:checked ~ #testimonial_slider4,
#s3:checked ~ #testimonial_slider5,
#s4:checked ~ #testimonial_slider1,
#s5:checked ~ #testimonial_slider2 {
  box-shadow: 0 0.063rem 0.25rem 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(30%, 0, -12.5rem);
}

#testimonial_slider1 {
  background-image: url(https://images.pexels.com/photos/845619/pexels-photo-845619.jpeg?auto=compress&cs=tinysrgb&w=900);
}

#testimonial_slider2 {
  background-image: url(https://images.pexels.com/photos/238783/pexels-photo-238783.jpeg?auto=compress&cs=tinysrgb&w=900);
}

#testimonial_slider3 {
  background-image: url(https://images.pexels.com/photos/760645/pexels-photo-760645.jpeg?auto=compress&cs=tinysrgb&w=1600);
}

#testimonial_slider4 {
  background-image: url(https://images.pexels.com/photos/242814/pexels-photo-242814.jpeg?auto=compress&cs=tinysrgb&w=900);
}

#testimonial_slider5 {
  background-image: url(https://images.pexels.com/photos/157092/pexels-photo-157092.jpeg?auto=compress&cs=tinysrgb&w=1600);
}

.testimonial_img {
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  position: relative;
  left: 38%;
  top: 10%;
}

.testimonial_heading {
  color: blueviolet;
  text-align: center;
  font-size: 2rem;
  padding-top: 5.5rem;
}

.testimonal_text {
  color: #f0f0f0;
  text-align: center;
  padding: 2rem 6rem 0;
  font-size: 1.3rem;
  font-weight: 600;
}

/*/////////////////////////////////company logo///////////////////////////*/
.company_wrap {
  padding: 4.8rem 0;
  position: relative;
  width: 100%;
}
.company_slide {
  background: #24262b;
}

.company_clients {
  -webkit-box-align: center;
  display: flex;
  gap: 10rem;
  margin: 4.8rem auto;
  width: 90%;
}

.company_clients li {
  list-style: none;
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.company_clients .company_img {
  height: 4.2rem;
}
.company_clients:hover li {
  filter: blur(0rem);
  -webkit-filter: blur(0rem);
}
.company_clients:hover li:not(:hover) {
  filter: blur(0.125rem);
  -webkit-filter: blur(0.125rem);
}
.company_clients li:hover {
  -webkit-transform: translateY(-0.3rem);
  transform: translateY(-0.3rem);
}

@media (min-width: 64rem) {
  .company_clients {
    grid-template-columns: auto auto auto auto;
  }

  .company_clients .company_img {
    height: 4.4rem;
  }
}

/* --- Images (gray logo) --- */
.company_clients .company_img {
  -webkit-filter: grayscale(0%) brightness(100%) contrast(0%);
  filter: grayscale(0%) brightness(100%) contrast(0%);
}

.company_clients .company_img:hover {
  background: none;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.company_heading {
  color: grey;
  text-align: center;
  padding-bottom: 4rem;
  font-size: 2.5rem;
  position: relative;
  left: 2%;
}

/*////////////////////footer////////////////*/
.footer_container {
  max-width: 73.125rem;
  margin: auto;
}
.footer_row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 4.375rem 0;
}
.footer-col {
  width: 25%;
  padding: 0 0.938rem;
}
.footer-col h4 {
  font-size: 1.125rem;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 2.188rem;
  font-weight: 500;
  position: relative;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 0.625rem;
}
.footer-col ul li a {
  font-size: 1rem;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 0.5rem;
}
.footer-col .social-links a {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 0.625rem 0.625rem 0;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.copy-right-sec {
  padding: 1.8rem;
  background: #24262b;
  color: #fff;
  text-align: center;
}
.copy-right-sec a {
  color: #fcd462;
  font-weight: 500;
}
.ankush {
  text-decoration: none;
}

/*////////////////////////////////////////text_animation_viceversa////////////////////////////*/

.text_animation_vicecersa {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  flex-direction: column;
  height: 100%;
  font-size: 6rem;
  opacity: 20%;
  width: 100%;
  overflow-x: hidden;
  justify-content: center;
}

.l {
  width: fit-content;
  color: grey;
  font-size: 12rem;
  white-space: nowrap;
  animation: example 10s linear 0.5s infinite;
}
.r {
  width: fit-content;
  color: grey;
  font-size: 12rem;
  white-space: nowrap;
  animation: example2 10s linear 0.5s infinite;
}

@keyframes example2 {
  0% {
    margin-right: 0%;
    opacity: 100%;
  }
  10% {
    opacity: 100%;
  }
  20% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    margin-right: -100%;
    opacity: 100%;
  }
}
@keyframes example {
  0% {
    margin-left: 0%;
    opacity: 100%;
  }
  10% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    margin-left: -100%;
    opacity: 100%;
  }
}

/*//////////////////////////////submenu/////////////////////*/
.submenu{
  display: none;
  position: absolute;
  top: 100%;
  right: 13.6%;
  background: #24262b;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  width: 13%;
  animation: submenu_fadeIn 0.2s ease-in both;
}

.submenu_cursor{
  cursor: pointer;
}

.submenu_link{
  font-size: 1rem;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.submenu_list{
  padding: 0.5rem 0;
}

.submenu_link:hover{
  color: #fff;
  padding-left: 0.6rem;
}

.submenu_Services:hover  .submenu{
  display: block;
}

@keyframes submenu_fadeIn {
  from {
		opacity: 0;
	}
	to {
		opacity: 1;
}
}